* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #373b44, #4286f4);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

button {
  background: #b33939;
  border-radius: 3px;
  padding: 11px 13px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #40407a;
  transition: transform ease-in 0.1s;
}
button:active {
  transform: scale(1.07);
}

.settings-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  background: #b33939;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.settings.hide {
  transform: translateY(-100%);
}

select {
  outline: none;
  width: 200px;
  padding: 5px;
  background: linear-gradient(to bottom, #373b44, #4286f4);
}

select:focus,
button:focus {
  outline: none;
}

.container {
  padding: 30px 20px;
  border-radius: 7px;
  width: 500px;
  color: #fff;
  text-align: center;
  box-shadow: 4px 9px 19px 7px rgba(0, 0, 0, 0.74);
  position: relative;
}

h2 {
  background-color: #b33939;
  margin-bottom: 20px;
  padding: 8px;
}

input {
  width: 300px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
  outline: none;
}

.time-container {
  position: absolute;
  top: 80px;
  right: 10px;
  margin-top: 10px;
  box-shadow: 4px 9px 19px 7px rgba(0, 0, 0, 0.3);
  padding: 10px 5px;
}

.score-container {
  position: absolute;
  top: 80px;
  left: 10px;
  margin-top: 10px;
  box-shadow: 4px 9px 19px 7px rgba(0, 0, 0, 0.3);
  padding: 10px 5px;
}

.end-game-container {
  background: black;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.play {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 40%;
  font-size: 16px;
}
