* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #232526, #414345);
  color: #fff;
}

.key {
  padding: 20px;
  font-size: 1.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  display: inline-flex;
  position: relative;
  margin: 0 10px;

  justify-content: flex-start;
  background-color: #000;
}

small {
  position: absolute;
  top: -30px;
  left: 0px;
}
